.App {
  background-image: url(440_frontpanel.png);
  background-repeat: no-repeat;
  background-size: 1180px;
  width: 1180px;
  height: 250px;
  position: relative;
}

.panel {
  position: absolute;
  display: flex;
}

.panel .text {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2em;
}
.panel .icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #999;
}
.panel.psu .icon.ok {
  background-color: #00e000;
}
.panel.psu .icon.no {
  background-color: #ff0000;
}

.panel.data .icon.ok {
  background-color: #00e000;
}
.panel.data .icon.no {
  background-color: #cccccc;
}

.error {
  position: absolute;
  top: 126px;
  width: 100%;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
}